// out: false
@darken-factor: 20%;
@colors: second #00dac6, primary #bb86fc, BG #121212, BG-plus#1f1f1f,
  text #e2e2e2, text-accent #949494, error #CF6679;

#gen(@i: length(@colors)) when (@i > 0) {
  #gen(@i - 1);
  @device: extract(@colors, @i);
  @name: extract(@device, 1);
  @color: extract(@device, 2);

  @{name}: @color;
  @{name}-light: saturate(@color, @darken-factor);
  @{name}-hover: desaturate(@color, @darken-factor);
  @{name}-click: desaturate(desaturate(@color, @darken-factor), @darken-factor);
}

.colors {
  #gen();
}
